<section id="search-container">
  <i class="icon icon-search"></i>
  <form id="search-form">
    <input type="text", name="search", placeholder="Search, for I may have written..." id="search-field" />
  </form>
  <hr class="divider short" />
</section>
