<li class="external-link"><a href="https://github.com/hashin"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.facebook.com/hjkdrmz"><i class="fa fa-facebook"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://twitter.com/HashinJithu"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a href="https://plus.google.com/+HashinJithu"><i class="fa fa-google-plus"></i> Google+</a></li>
<li class="external-link"><a href="https://www.youtube.com/user/hashinjithu"><i class="fa fa-youtube-play"></i> YouTube</a></li>
<li class="external-link"><a href="https://www.pinterest.com/hashiin"><i class="fa fa-pinterest"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://www.instagram.com/hashiin"><i class="fa fa-instagram"></i> LinkedIn</a></li>
<li class="external-link"><a target="_blank" href="mailto:mail@hashin.me"><i class="fa fa-envelope"></i> Contact</a></li>
<!--
<li class="external-link"><a href="http://www.last.fm/user/Lucky_7s">Last.fm</a></li>
<li class="external-link"><a href="http://steamcommunity.com/id/alllucky7s">Steam</a></li>
-->
